@model CategoriesListViewModel
@{
    Layout = "_AdminLayout";

    ViewData["Title"] = "Lista de categorías";
    ViewData["ActivePage"] = ManageAdminNavPages.CategoriesList;
}

<!-- Modal -->
<partial name="_CategoriesListModal" model="Model" />

<h3 class="fw-bold display-6 mb-4">Lista de categorías</h3>

<!-- Status message alert -->
<partial name="_StatusMessage" />

<section class="d-flex justify-content-between">
    <button type="button" id="button-create" class="btn btn-success mb-4" data-bs-toggle="modal" data-bs-target="#form-category-modal">
        <i class="las la-plus fs-4"></i> Agregar categoría
    </button>
    <a asp-controller="Reports" asp-action="PrintCategories" class="btn btn-outline-dark mb-4" target="_blank">
        <i class="las la-print fs-4"></i> Imprimir categorías
    </a>
</section>

<div class="table-responsive">
    <table class="table table-hover table-striped">
        <thead>
            <tr class="table-primary">
                <th scope="col">Id</th>
                <th scope="col">Nombre</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
        
            @if (Model.CategoriesList.Count == 0)
            {
                <tr>
                    <td class="text-center" colspan="3">Actualmente no existen categorias creadas.</td>
                </tr>
            }
        
            @foreach (var category in Model.CategoriesList)
            {
                <tr>
                    <th scope="row">@category.Id</th>
                    <td>@category.Name</td>
                    <td>
                        <div class="d-flex">
                            <button class="button-edit bg-transparent border-0 p-0" data-bs-toggle="modal" data-bs-target="#form-category-modal">
                                <i class="las la-pen text-primary fs-3 px-1"></i>
                            </button>
                            <form asp-controller="Admin" asp-action="DeleteCategory" method="post" class="delete-element-form">
                                <input type="hidden" value="@category.Id" name="id"/>
                                <button class="bg-transparent border-0 p-0"><i class="las la-trash text-danger fs-3 px-1"></i></button>
                            </form>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    <script>
        const btnCreate = document.getElementById('button-create');
        const btnEdit = document.querySelectorAll('.button-edit');
        const formCreate = document.getElementById('form-create');
        const modalLabel = document.getElementById('form-modal-label');

        const getCategoryInfo = (e) => {
            const categoryInfo = e.currentTarget.closest('tr').children;

            formCreate.elements['Id'].value = categoryInfo[0].outerText;
            formCreate.elements['Name'].value = categoryInfo[1].outerText;
            modalLabel.innerHTML = `<i class="las la-pen fs-4"></i> Editar categoría`;
        };
        
        btnCreate.addEventListener('click', () => {
            clearInputs();
            modalLabel.innerHTML = `<i class="las la-plus-circle fs-4"></i> Crear categoría`;
        });

        btnEdit.forEach((btn) => {
            btn.addEventListener('click', (e) => getCategoryInfo(e));
        });
        
        formCreate.addEventListener('submit', (e) => {
            e.preventDefault();
    
            if (validateForm()) {
                const baseUrl = window.location.origin;
                            
                if (formCreate.elements['Id'].value === '') {
                    formCreate.action = `${baseUrl}/Admin/CreateCategory`;
                } else {
                    formCreate.action = `${baseUrl}/Admin/EditCategory`;
                }
                            
                formCreate.submit();
            }
        });
    </script>
}