html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    min-height: 100%;
    position: relative;
}

body {
    background-attachment: fixed;
    background-image: url('./../img/bg_image.jpg');
    background-size: cover;

    min-height: 100vh;
    position: relative;
}

body::after {
    content: "";
    background-color: rgb(21,140,186);
    height: 100%;
    width: 100%;
    position: absolute;
    opacity: .9;
    top: 0;
    z-index: -1;
}