html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    min-height: 100%;
    position: relative;
}

body {
    background-attachment: fixed;
    background-image: url('./../img/bg_image.jpg');
    background-size: cover;
    
    font-family: 'Poppins', sans-serif;

    min-height: 100vh;
    position: relative;
}

body::after {
    content: "";
    background-color: rgb(21,140,186);
    height: 100%;
    width: 100%;
    position: absolute;
    opacity: .9;
    top: 0;
    z-index: -1;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

table {
    font-size: 0.95em;
}

.active-link {
    color: #158CBA;
    font-weight: bold;
}

.upvote-button {
    cursor: pointer;
    max-width: 100px;
    max-height: 100px;
}