@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Datos personales";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h3 class="mb-3">@ViewData["Title"]</h3>

<div class="row">
    <div class="col-md-6">
        <p>Tu cuenta contiene los datos personales que tu has agregado. Esta página te permite descargar o borrar esos datos.</p>
        <p>
            <strong>Borrar los datos también borrará tu cuenta de forma permanente. Esta acción no se puede deshacer.</strong>
        </p>
        <form id="download-data" asp-page="DownloadPersonalData" method="post">
            <button class="btn btn-primary mb-3" type="submit"><i class="las la-download fs-4"></i> Descargar</button>
        </form>
        <p>
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-danger"><i class="las la-trash fs-4"></i> Borrar</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
