@using Microsoft.AspNetCore.Identity
@using SuggestionsApp.Models.Data.Identity

@inject SignInManager<ApplicationUser> _signInManager
@inject UserManager<ApplicationUser> _userManager

@{
    var user = await _userManager.GetUserAsync(User);
    IList<string> roles = new List<string>();

    if(user is not null) {
        roles = await _userManager.GetRolesAsync(user);
    }
}

<ul class="navbar-nav">
@if (_signInManager.IsSignedIn(User))
{
    @if(roles.Contains("Admin") || roles.Contains("Moderador"))
    {
        <li class="nav-item">
            <a id="admin" class="nav-link text-white" asp-area="" asp-controller="Admin" asp-action="SuggestionsApproval"><i class="las la-user-shield fs-5"></i> Admin</a>
        </li>
    }

    <li class="nav-item">
        <a id="manage" class="nav-link text-white" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage"><span class="d-lg-none"><i class="las la-user-circle fs-5"></i> Perfil</span><span class="d-none d-lg-block"><i class="las la-user-circle fs-5"></i> Hola, @_userManager.GetUserName(User)!</span></a>
    </li>
    
    <li class="nav-item">
        <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button id="logout" type="submit" class="nav-link btn btn-link text-white"><i class="las la-door-open fs-5"></i> CERRAR SESIÓN</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-white" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>

    <li class="nav-item">
        <a class="nav-link text-white" id="register" asp-area="Identity" asp-page="/Account/Register">Registro</a>
    </li>
}
</ul>
