<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SuggestionsApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="~/css/reports.css" asp-append-version="true" />
    <link rel="shortcut icon" type="image/png" href="~/favicon.png"/>
</head>
<body>
    <header>
        <img src="/img/logo.png" class="logo d-block" />
        <h1 class="fw-bold display-6 mb-4 text-center text-uppercase">@ViewData["Title"]</h1>
    </header>
    <div class="container mb-4">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer">
        <div class="container text-center">
            &copy; 2022 - SuggestionsApp
        </div>
    </footer>
</body>
</html>