@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<section class="text-center text-white mb-5">
    <img alt="Icono del sitio" src="/img/broken_light_bulb.png" class="w-25 mt-4" />
    <h1 class="display-2 fw-bold my-5">¡Oops. Ocurrió un error!</h1>

    @if (Model.ShowRequestId)
    {
        <p class="mb-5"><strong>Request ID:</strong> <code class="fs-5 text-warning">@Model.RequestId</code></p>
    }
    
    <p class="h5 mb-5">Nuestro sitio de sugerencias presentó dificultades técnicas al procesar tu solicitud. Puedes regresar a la página de inicio e intentarlo más tarde.</p>

    <a asp-controller="Home" asp-action="Index" class="btn btn-outline-light btn-lg mb-5"><i class="las la-arrow-left"></i> Regresar al inicio</a>
</section>